.footerText {
    padding: 1.25rem;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 1.875rem;
  }

.footerIcon {
  padding: 1.25rem;
  justify-content: center;
  display: flex;
  gap: 1.25rem;
}

.footerContent:hover{
  opacity: 1;
}


.footerContent{
  background-color: #1e2a39;
  color: white;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  margin-top: 1.875rem;
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

@media only screen and (max-width: 1024px){


.footerContent{
  background-color: #1e2a39;
  color: white;
  opacity: 0;
transition: opacity 0.5s ease-in-out;
}

.footerContent:hover{
  opacity: 0;
}

}
